
body {
  background-image: url(20221217_154326.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

header {
  text-align: center;
}
/*Name Border - underneath Nav */
.name-text {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgba(230, 192, 246, 0.675);/*rgba(255, 105, 180, 0.505);*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color:rgba(0, 0, 0, 0.749)
}
/*Text under name - top of page */
.introduction {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 186, 220, 0.626);
  padding: 2px;
}
#column {
  flex: 50%;
  padding: 5px;
  justify-content: center;
}
#row {
  display: flex;
}
.me-pic {
  width: 225px;
  border: 5px solid rgba(230, 192, 246, 0.675);
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(249, 235, 249, 0.553);
}
/* About Me, Portfolio, Contact Info */
h2 {
  background-color: rgba(255, 186, 220, 0.626);
}
.about-me {
  width: 650px;
  border: 15px solid rgba(230, 192, 246, 0.675);
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(249, 235, 249, 0.705);
}

/* Portfolio Text*/
.Portfolio {
  width: 560px;
  border: 12px solid rgba(230, 192, 246, 0.675);
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(249, 235, 249, 0.705);
  margin-bottom: 25px;
}

/* Three images for Portfolio */
.column {
  flex: 33.33%;
  padding: 5px;
  margin: 5px;
}
.row {
  display: flex;
}

/* Portfolio Images Text */
.portfolio-images {
  width:auto;
  border: 10px solid rgba(230, 192, 246, 0.675);
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(250, 235, 215, 0.662);
}
/*Contact Me Text and Border*/
.contact-me {
  width: 300px;
  border: 10px solid rgba(230, 192, 246, 0.675);
  padding: 10px;
  display:block;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgba(249, 235, 249, 0.705);
}
/*Nav Bar top of page*/
ul {
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 0;
    list-style-type: none;
    display: flex; 
    justify-content: center;
    background-color: rgba(255, 186, 220, 0.626); /*rgba(161, 110, 131, 0.764);*/
}

/* footer */
.myfooter {
  position: sticky;
  bottom: 0;
}
/* links in Nav bar*/
li {
    text-align: center;
    margin: 10px;
}

/* unvisited link */
a:link {
    color: rgba(142, 92, 151, 0.833);
  }
  
  /* visited link */
  a:visited {
    color: rgba(132, 30, 187, 0.958);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(253, 166, 210);
  }
  
  /* selected link */
  a:active {
    color: rgb(126, 126, 255);
  }
 /* Header Photo */
  img{
    width: 200px; height: 450px;
    border: 5px solid rgba(177, 83, 138, 0.692)
}

