body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    background-color: #333333e4;
    background-image: url(cape-breton.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-top: 2%;
}

.nav-container {
    display: grid;
    max-width: 80%;
    position:absolute;
    top: 0;
    height:900px;
    max-height: 150%;
    flex-direction: column;
    align-items: center;
    background-color: #a43f49e3;
    color: #fff;
    padding: 20px;
    margin-left: 5%;
}
.accordion {
    background-color: #a43f49cb;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 60%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #727272df;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 auto;
    background-color: rgba(45, 45, 45, 0.608);
    color: #ffffff;
    border: 10px rgba(0, 0, 0, 0.348) solid;
    display: none;
    overflow: hidden;
    text-align: center;
    width: 60%;
    align-self: center;
  }


  
.image {
    /* display: flex; */
    /* position: sticky; */
    /* padding-left: inherit; */
    padding-bottom: 0;
}
.image img {
    border-radius: 100%;
    margin-top: 20%;

    margin: 0;
    margin-bottom: 0;
    align-items: center;
    max-height: 50%;
    max-width: 40%;
    padding-bottom: 0;
    margin-left: 25%;
}


.author-content {
    text-align: center;
    margin: 1px 0;
    font-size: small;
    font-style: italic;
    padding: 0 ;
}

h4 {
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 2px;
    font-style: normal;
}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;


}

.main-menu li {
    margin-bottom: 10px;
}

.main-menu a {
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-size: x-large;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 30%;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    display: block;
    position: relative;
    box-sizing:border-box;
    margin: 5%;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
}


/* Main Body */
.content {
    margin-left: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.copyright-text {
    margin-top: 20px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    display:flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    left: 57%;
}
.content-use {
    position: fixed;
    font-size: x-small;
    bottom: 0;
    margin-left: 80%;
    
}
@media (min-width: 768px) {
    /* Adjust the margin-left for larger screens */
    .content {
        margin-left: 25%;
    }
}



/*PROJECTS PAGE*/
.project-body {
    background-color: #a43f49cb;
    background-image: none;
}

.intro-content {
    color: white;
}

.proj-desc {
    max-width: 50%;
    background-color: rgba(250, 235, 215, 0.666);
    color: black;
    display: inline-block;
}

